.Item {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Item p {
  padding: 0;
  margin: 0;
}

.Item aside {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Item:hover {
  background: #333;
}
